<div class="w3-container w3-margin-top">
    <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple" (onChange)="aplicarCambio()"></p-selectButton>
    <div class="w3-clear"></div>
    <div class="w3-margin-bottom">
        <p-dropdown class="w3-margin-right" [options]="modos" [(ngModel)]="selectedModo" placeholder="Seleccionar modo" optionLabel="name" [showClear]="false" (onChange)="cambiarModo()"></p-dropdown>
        <p-inputSwitch class="w3-margin-right w3-margin-left" [(ngModel)]="checked" (onChange)="cambiarModo()"></p-inputSwitch><label>Cantidad por cada 100.000 habitantes</label>
    </div>
</div>

<div class="w3-container">
    <div class="w3-panel w3-card-4" *ngIf="!loadingData">
        <p-chart type="line" [data]="dataChart" [options]="options" width="97vw" height="75vh"></p-chart>
    </div>
    <div *ngIf="typePoblacion === 'paises'">
        <div>
            <label>Fuente: <a href="https://www.bloomberg.com/graphics/2020-coronavirus-cases-world-map/" target="_blank">Bloomberg - Nº de contagios y fallecidos (Datos recogidos a mano a partir del 13/03/2020. Algunos paises se ha empezado a recoger más tarde)</a>. España y Francia desde el día 01/05/2020, contabilizan contagios oficiales solo por test PCR.</label>
        </div>
        <div>
            <label>Fuente: <a href="https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n" target="_blank">Wikipedia - Tabla de Población Mundial proyectada para el 01/07/2020</a></label>
        </div>
    </div>
    <div *ngIf="typePoblacion === 'provincias'">
        <div>
            <label>Fuente: <a href="https://sanidad.castillalamancha.es/saladeprensa/notas-de-prensa" target="_blank">Sanidad CLM - (Los datos de hospitalizados por provincia comenzaron a informarse a partir del día 22/03/2020. Fallecidos se recogen datos a partir del día 25/03/2020)</a></label>
        </div>
        <div>
            <label>Fuente: <a href="https://www.ine.es/jaxiT3/Datos.htm?t=2852#!tabs-tabla" target="_blank">INE - Tabla de Población por Provincias en 2019</a></label>
        </div>
    </div>
</div>