<div class="w3-container w3-margin-top">
    <div class="w3-container">
        <p-selectButton [options]="types" [(ngModel)]="selectedType" (onChange)="aplicarCambio()"></p-selectButton>
    </div>
</div>
<div class="w3-container">
    <div class="w3-panel w3-card-4" *ngIf="!loadingData">
        <p-chart type="bar" [data]="dataChart" [options]="options" width="97vw" height="80vh"></p-chart>
    </div>
    <div>
        <label>Fuente: <a href="https://covid19.isciii.es/" target="_blank">Ministerio de Sanidad (Los datos de Castilla La Mancha y Madrid son datos de prevalencia, personas ingresadas y en UCI a fecha de hoy. De igual modo ocurre con las UCIs de Castilla y León y Galicia)</a></label>
    </div>
    <div>
        <label>Ministerio de Sanidad: Los datos de Castilla La Mancha y Madrid son datos de prevalencia, personas ingresadas y en UCI a fecha de hoy. De igual modo ocurre con las UCIs de Castilla y León y Galicia. </label>
    </div>

</div>